body {
	font-size: 15px;
}
[my-table] {
	.command {
		margin-bottom: 10px;
	}
	.dataTables_wrapper {
		.data-table {
			.DataTables_sort_icon {
				display: none;
			}
			.table-index {
				display: none;
			}
		}
		.dataTables_paginate {
			a {
				padding: 5px;
				padding: {
					left: 10px;
					right: 10px;
				}
				&.next, &.previous {
					padding: 5px;
				}
			}
		}
		.odd {
			// background: transparentize($blue, 0.7);
		}
		.even {
			// background: yellow;
		}
	}
}
.breadcrumb {
	font-size: 120%;
	.breadcrumb-item {
		color: #007bff;
		&:hover {
			text-decoration: underline;
		}
	}
}
.wrapper-index {
	position: relative;
	top: 40vh;
	.content {
	  @include centerer;
	  .card-wrapper {
	  	margin-bottom: 10px;
	  	text-align: center;
	  	.card {
				padding: 25px;
				margin-bottom: 5px;
	  		font-size: 300%;
	  	}
	  }
	}
}
.main {
	&.navbar {
		margin: 0;
		padding: 0px !important;
		border: {
			radius: 0px;
			bottom: 0px;
		}
		.navbar-brand, .navbar-nav, .menu-navbar {
			font-size: 24px !important;
		}
		.navbar-brand {
			color: white;
		}
		.navbar-nav {
			padding-left: 20px;
			.badge {
				font-size: 50% !important;
				margin: {
					left: 15px !important;
					top: 0px !important;
				}
			}
		}
	}
	&.container {
		margin: 0;
		padding: 0;
		max-width: initial !important;
		.sidebar {
			transition: .3s;
			margin: 0px !important;
			min-height: calc(100vh - 52px);
		}
		#content-wrapper {
			padding: {
				top: 0px !important;
				left: 10px;
				right: 10px !important;
			}
		}
		.scroll-to-top {
			z-index: 2;
			display: block;
		}
		.content-view {

		}
		.nav-item {
			.nav-link {
				span {
					font-size: 13px !important;	
				}
			}
		}
	}
	&.footer {
	}
}
.dropdown-menu {
	background: white !important;
	border: 1px solid transparentize(black, 0.75) !important;
	.dropdown-item, .dropdown-header {
		font-size: 12px;
	}
}