body {
  font-size: 15px;
}

.align-right {
  text-align: right;
}

.loading {
	@keyframes spin {
	    100% { transform: rotate(360deg); }
	}
	display: none;
  position: absolute;
  background: transparentize(black, .5);
  width: 100%;
  height: 100%;
  z-index: 9999;
	&.visible {
		display: block;
	}
  .spinner {
    text-indent: 999em;
    width: $circleDiam;
    height: $circleDiam;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -$circleDiam / 2;
    background-color: #888;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: $rotatingCirclePosTop;
      left: $rotatingCirclePosLeft;
      background-color: #fff;
      height: $rotatingCircleDiam;
      width: $rotatingCircleDiam;
      animation: spin 1s linear infinite;
      border-radius: 50%;
      transform-origin: $innerCirclePos/2 + $rotatingCircleDiam;
    }
  }
}

[my-table] {
  .command {
    margin-bottom: 10px;

    .command-hover {
      transition: .15s;
      font-size: 0%;

      &.show-value {
        font-size: 100%;
      }
    }
  }

  .dataTables_wrapper {
    .data-table {

      .DataTables_sort_icon,
      .table-index {
        display: none;
      }
    }

    .dataTables_paginate {
      a {
        padding: 5px;

        padding: {
          left: 10px;
          right: 10px;
        }

        &.next,
        &.previous {
          padding: 5px;
        }
      }
    }

    .odd {
      // background: transparentize($blue, 0.7);
    }

    .even {
      // background: yellow;
    }
  }
}

.my-popup {
  display: none;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // background: transparentize(black, 0.5);
  // z-index: 1000;
  // &.visible {
  // 	display: block;
  // }
  // .my-popup-container {
  // 	position: relative;
  // 	width: 100%;
  // 	height: 100%;
  // 	.my-popup-content {
  // 		position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     background: white;
  //     -webkit-transform: translate(-50%, -50%);
  //     -moz-transform: translate(-50%, -50%); 
  //     -ms-transform: translate(-50%, -50%); 
  //     -o-transform: translate(-50%, -50%); 
  //     transform: translate(-50%, -50%); 
  // 	}
  // }
}

.breadcrumb {
  font-size: 120%;

  .breadcrumb-item {
    color: #007bff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapper-index {
  position: relative;
  top: 40vh;

  .content {
    @include centerer;

    .card-wrapper {
      margin-bottom: 10px;
      text-align: center;

      .card {
        padding: 25px;
        margin-bottom: 5px;
        font-size: 300%;
      }
    }
  }
}

.main {
  &.navbar {
    margin: 0;
    padding: 0px !important;

    border: {
      radius: 0px;
      bottom: 0px;
    }

    .navbar-brand,
    .navbar-nav,
    .menu-navbar {
      font-size: 24px !important;
    }

    .navbar-brand {
      color: white;
    }

    .navbar-nav {
      padding-left: 20px;

      .badge {
        font-size: 50% !important;

        margin: {
          left: 15px !important;
          top: 0px !important;
        }
      }
    }
  }

  &.container {
    margin: 0;
    padding: 0;
    max-width: initial !important;

    .sidebar {
      transition: .3s;
      margin: 0px !important;
      min-height: calc(100vh - 52px);
    }

    #content-wrapper {
      padding: {
        top: 0px !important;
        left: 10px;
        right: 10px !important;
      }
    }

    .scroll-to-top {
      z-index: 2;
      display: block;
    }

    .content-view {}

    .nav-item {
      .nav-link {
        span {
          font-size: 13px !important;
        }
      }
    }
  }

  &.footer {}
}

.dropdown-menu {
  background: white !important;
  border: 1px solid transparentize(black, 0.75) !important;

  .dropdown-item {
    font-size: 12px;

    &.link {
      cursor: pointer;
    }
  }

  .dropdown-header {
    font-size: 12px;
  }
}
