<h1>SDN PASIRKALIKI I</h1>
<breadcrumb></breadcrumb>
<button ng-click="openModal()" class="btn">Open modal</button>
<button ng-click="openModal2()" class="btn">Open modal 2</button>
<div class="wrapper-index">
	<div class="row content">
		<div class="no-padding col col-lg-6 card-wrapper">
			<div class="card">{{jumlah.guru}}</div>
			<h3>Jumlah Guru</h3>
		</div>
		<div class="no-padding col col-lg-6 card-wrapper">
			<div class="card">{{jumlah.siswa}}</div>
			<h3>Jumlah Siswa</h3>
		</div>
	</div>
</div>