<h1>SDN PASIRKALIKI I</h1>
<breadcrumb></breadcrumb>
<div ng-if="params.sub == 'lomba'">
  <h3>Perlombaan</h3>
  <div class="row">
    <div class="form-group col col-6">
      <label>Nama Lomba</label>
      <input type="text" class="form-control" ng-model="formLomba.NamaLomba">
    </div>
  </div>
  <div class="row">
    <div class="form-group col col-6">
      <label>Tingkat</label>
      <input type="text" class="form-control" ng-model="formLomba.Tingkat">
    </div>
  </div>
  <div class="row">
    <div class="form-group col col-6">
      <label>Cabang</label>
      <input type="text" class="form-control" ng-model="formLomba.Cabang">
    </div>
  </div>
  <div class="row">
    <div class="form-group col col-6">
      <label>Nama Peserta</label>
      <auto-complete-input data="dataSiswa" order-by="Kelas,Nama" selected="selected" view="{NIS} - {Nama} - {Kelas}" class-input="form-control">
        <h3>{{option.Nama}}</h3>
        <p>NIS: {{option.NIS}}</p>
        <p>NISN: {{option.NISN}}</p>
        <p>Kelas: {{option.Kelas}}</p>
      </auto-complete-input>
    </div>
    <div class="form-group col col-12">
	    <textarea class="form-control">{{ stringify(selected) }}</textarea>
	  </div>
  </div>
  <div class="row">
    <div class="form-group col col-6 text-right">
    	<button class="btn btn-primary">Cetak</button>
    </div>
  </div>
</div>
