<script type="text/ng-template" id="table-template">
  <div class="command">
  <div class="row">
    <div class="col">
      <button class="btn btn-lg btn-primary" ng-click="addData()" command-table="Add Data">
        <i class="fa fa-plus" />
      </button>
      <button class="btn btn-lg btn-info" ng-click="ubahData()" command-table="Ubah Data">
        <i class="fa fa-pen" />
      </button>
      <button class="btn btn-lg btn-danger" ng-disabled="options.canDelete == false" ng-click="hapusData()" command-table="Hapus Data">
        <i class="fa fa-trash" />
      </button>
      <button class="btn btn-lg btn-link" disabled ng-click="hapusData()"></button>
      <button class="btn btn-lg btn-secondary" ng-click="refreshData()" command-table="Refresh Data">
        <i class="fa fa-refresh" />
      </button>
    </div>
    <div class="col align-right">
      <button class="btn btn-lg btn-success" ng-click="hapusData()" command-table="Export Data">
        <i class="fa fa-file-export" />
      </button>
    </div>
  </div>
</div>
<table class="table data-table"></table>
</script>
<script type="text/ng-template" id="autocomplete">
  <div class="auto-complete">
    <div class="input-auto-complete">
    <input type="text" ng-blur="blur()" ng-focus="displayed()" ng-model="search" class="{{classInput}}">
    <i class="glyphicon glyphicon-remove" ng-click="clearSelection()"></i>
  </div>
    <ul class="list-group" ng-class="{ 'visible': visible }">
      <li ng-click="select(option)" inject ng-repeat="option in data | filter: search | orderBy: filterSort" class="list-group-item"></li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" bind-html-compile="dataLink"></ol>
  </nav>
</script>
<script type="text/ng-template" id="login">
  <div class="form-group">
    <label for="usr">Username:</label>
    <input type="text" ng-model="FormLogin.username" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="usr">Password:</label>
    <input type="password" ng-model="FormLogin.password" class="form-control" id="usr">
  </div>
</script>
<script type="text/ng-template" id="form-modal">
  <form id="my-table-form">
    <div ng-repeat="column in myModalData.columnsForm">
      <div class="form-group" ng-if="column.valVal.type == 'input'">
        <label for="form-modal-{{column.sTitle.toValidId()}}">{{column.sTitle}}</label>
        <input type="text" ng-model="myModalData.dataEdit[$index]" name="{{column.sTitle}}" class="form-control" id="form-modal-{{column.sTitle.toValidId()}}">
      </div>
      <div class="form-group" ng-if="column.valVal.type == 'date'">
        <label for="form-modal-{{column.sTitle.toValidId()}}">{{column.sTitle}}</label>
        <input type="date" ng-model="myModalData.dataEdit[$index]" name="{{column.sTitle}}" class="form-control" id="form-modal-{{column.sTitle.toValidId()}}">
      </div>
      <div class="form-group" ng-if="column.valVal.type == 'select'">
        <label for="form-modal-{{column.sTitle.toValidId()}}">{{column.sTitle}}</label>
        <select ng-model="myModalData.dataEdit[$index]" name="{{column.sTitle}}" class="form-control" id="form-modal-{{column.sTitle.toValidId()}}">
          <option ng-repeat="opt in column.valVal.val">{{opt}}</option>
        </select>
      </div>
      <div class="form-group" ng-if="column.valVal.type == 'textarea'">
        <label for="form-modal-{{column.sTitle.toValidId()}}">{{column.sTitle}}</label>
        <textarea placeholder="{{column.valVal.placeholder}}" ng-model="myModalData.dataEdit[$index]" name="{{column.sTitle}}" class="form-control" id="form-modal-{{column.sTitle.toValidId()}}" rows="3"></textarea>
      </div>
      <div class="form-group" ng-if="column.valVal.type == 'file'">
        <label for="form-modal-{{column.sTitle.toValidId()}}">{{column.sTitle}}</label>
        <input type="file" ng-model="myModalData.dataEdit[$index]" name="{{column.sTitle}}" class="form-control-file" id="form-modal-{{column.sTitle.toValidId()}}">
      </div>
    </div>
  </form>
</script>
<div class="modal" id="myModal">
  <div class="modal-dialog {{myModal.class}}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" ng-bind="myModal.title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" bind-html-compile="myModal.body"></div>
      <div class="modal-footer" bind-html-compile="myModal.commandText"></div>
    </div>
  </div>
</div>
