<script type="text/ng-template" id="table-template">
  <div class="command">
  <div class="row">
    <div class="col">
      <button class="btn btn-lg btn-primary" ng-click="addData()" command-table="Add Data">
        <i class="fa fa-plus" />
      </button>
      <button class="btn btn-lg btn-info" ng-click="ubahData()" command-table="Ubah Data">
        <i class="fa fa-pen" />
      </button>
      <button class="btn btn-lg btn-danger" ng-click="hapusData()" command-table="Hapus Data">
        <i class="fa fa-trash" />
      </button>
    </div>
    <div class="col align-right">
      <button class="btn btn-lg btn-success" ng-click="hapusData()" command-table="Export Data">
        <i class="fa fa-file-export" />
      </button>
    </div>
  </div>
</div>
<table class="table data-table"></table>
</script>
<script type="text/ng-template" id="bootstrap-modal">
  <div id="{{handler}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        <p class="text-warning">{{body}}</p>
      </div>
      <div class="modal-footer">
        <p class="text-left">{{footer}}</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Launch Alert</button>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" bind-html-compile="dataLink"></ol>
  </nav>
</script>
<div class="my-popup">
  <div class="my-popup-container">
    <div class="my-popup-content">
      <div class="my-popup-header"></div>
      <div class="my-popup-body"></div>
      <div class="my-popup-footer"></div>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
